@font-face {
    font-family: 'CharmonmanRegular';
    src: url('./fonts/Charmonman-Regular.eot');
    src: url('./fonts/Charmonman-Regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Charmonman-Regular.woff2') format('woff2'),
         url('./fonts/Charmonman-Regular.woff') format('woff'),
         url('./fonts/Charmonman-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'CharmonmanBold';
    src: url('./fonts/Charmonman-Bold.eot');
    src: url('./fonts/Charmonman-Bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Charmonman-Bold.woff2') format('woff2'),
         url('./fonts/Charmonman-Bold.woff') format('woff'),
         url('./fonts/Charmonman-Bold.ttf') format('truetype');
}

#block-1 {
  color: #D17C00;
  background-color: #7A2A00;
  height: 720px;
}

#block-1-header {
  font-family: 'CharmonmanRegular';
  font-size: 25pt;
  line-height: 200%;
  text-align: center;
  padding-top: 250px;
}

#name {
  font-family: 'CharmonmanRegular';
  font-size: 90pt;
}

#block-2 {
  color: #7A2A00;
  background-color: #FFF;
  font-family: 'CharmonmanRegular';
  font-size: 42pt;
  line-height: 140%;
  text-align: left;
  padding-top: 90px;
  padding-bottom: 90px;
}

#block-3 {
  height: 720px;
  background: url("img/block03_1.png") no-repeat center;
  color: #D17C00;
  background-color: #7A2A00;
}

#block-4 {
  height: 720px;
  background: url("img/block04_1.png") no-repeat center;
  color: #FFF;
  background-color: #D17C00;
}

#block-4-text {
  font-family: 'CharmonmanRegular';
  font-size: 18pt;
  line-height: 120%;
  text-align: right;
  padding-top: 380px;
}

#block-5 {
  color: #7A2A00;
  background-color: #FFF;
  padding-bottom: 120px;
}

#block-5-Title {
  font-family: 'CharmonmanRegular';
  font-size: 16pt;
  text-align: left;
  letter-spacing: 0px;
}


#block-5-text_sub {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  line-height: 100%;
  text-align: left;
  padding-top: 20px;
}


#block-5-text0 {
  font-family: 'CharmonmanRegular';
  font-size: 110pt;
  line-height: 100%;
  text-align: left;
  padding-top: 80px;
}

#block-5-text2 {
  font-family: 'Charmonmanbold';
  font-size: 110pt;
  line-height: 100%;
  text-align: left;
  padding-top: 55px;
}

#block-5-text3 {
  font-family: 'CharmonmanRegular';
  font-size: 110pt;
  line-height: 100%;
  text-align: left;
  padding-top: 60px;
}

#block-5-text4 {
  font-family: 'CharmonmanMedium';
  font-size: 110pt;
  line-height: 100%;
  text-align: left;
  padding-top: 65px;
}

#block-5-text5 {
  font-family: 'CharmonmanRegular';
  font-size: 110pt;
  line-height: 100%;
  text-align: left;
  padding-top: 70px;
}

#block-5-text6 {
  font-family: 'CharmonmanBold';
  font-size: 110pt;
  line-height: 100%;
  text-align: left;
  padding-top: 80px;
}

#block-5-i {
  color: #7A2A00;
  background-color: #FFF;
  padding-bottom: 120px;
}

#block-5-i-Title {
  font-family: 'Charmonman';
  font-size: 16pt;
  text-align: left;
  letter-spacing: 0px;
}


#block-5-i-text_sub {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  line-height: 100%;
  text-align: left;
  padding-top: 20px;
}


#block-6 {
  height: 720px;
  background-color: #D17C00;
}

#block-7-1 {
  background: url("img/block07_1.jpg") no-repeat center;
  background-size: cover;
  height: 720px;
  color: #FFF;
  background-color: #D17C00;
}

#block-7-2 {
  background: url("img/block07_2.jpg") no-repeat center;
  background-size: cover;
  height: 720px;
  color: #FFF;
  background-color: #D17C00;
}

#block-7-2-text {
  font-family: 'CharmonmanBold';
  font-size: 18pt;
  line-height: 150%;
  text-align: left;
  padding-top: 470px;
}

#block-7-3 {
  background: url("img/block07_3.jpg") no-repeat center;
  background-size: cover;
  height: 720px;
  color: #FFF;
  background-color: #D17C00;
}

#block-Title {
  color: #999999;
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-Title-1 {
  color: #999999;
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-Title-2 {
  color: #999999;
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

ul.nav > li > a {
  color: #999999;
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: center;
  letter-spacing: 0px;
}

ul.nav > li.active > a {
  color: #FFF;
  background-color: #7A2A00;
  font-family: 'CharmonmanRegular';
  font-size: 12pt;
  text-align: center;
  letter-spacing: 0px;
}

#block-9 {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-9-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-9-Char {
  font-family: 'CharmonmanRegular';
  font-size: 22pt;
  line-height: 120%;
  text-align: left;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-9-Num {
  font-family: 'CharmonmanRegular';
  font-size: 22pt;
  text-align: left;
  line-height: 120%;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-9-Vowel {
  font-family: 'CharmonmanRegular';
  line-height: 150%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-9-Sp-Char {
  font-family: 'CharmonmanRegular';
  line-height: 150%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-9-Symbol {
  font-family: 'CharmonmanRegular';
  line-height: 130%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-9-Ac-Char {
  font-family: 'CharmonmanRegular';
  line-height: 130%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-9-Text1 {
  font-family: 'CharmonmanRegular';
  line-height: 125%;
  font-size: 12pt;
  text-align: left;
}

#block-9-Text2 {
  font-family: 'CharmonmanRegular';
  line-height: 125%;
  font-size: 18pt;
  text-align: left;
}

#block-9-Text3 {
  font-family: 'CharmonmanRegular';
  line-height: 150%;
  font-size: 24pt;
  text-align: left;
}

#block-9-i {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-9-i-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-10 {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-10-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-10-i {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-10-i-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-11 {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-11-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-11-Char {
  font-family: 'Charmonmanbold';
  font-size: 22pt;
  line-height: 120%;
  text-align: left;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-11-Num {
  font-family: 'Charmonmanbold';
  font-size: 22pt;
  text-align: left;
  line-height: 120%;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-11-Vowel {
  font-family: 'Charmonmanbold';
  line-height: 150%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-11-Sp-Char {
  font-family: 'Charmonmanbold';
  line-height: 150%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-11-Symbol {
  font-family: 'Charmonmanbold';
  line-height: 130%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-11-Ac-Char {
  font-family: 'Charmonmanbold';
  line-height: 130%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-11-Text1 {
  font-family: 'Charmonmanbold';
  line-height: 125%;
  font-size: 12pt;
  text-align: left;
}

#block-11-Text2 {
  font-family: 'Charmonmanbold';
  line-height: 125%;
  font-size: 18pt;
  text-align: left;
}

#block-11-Text3 {
  font-family: 'Charmonmanbold';
  line-height: 150%;
  font-size: 24pt;
  text-align: left;
}

#block-11-i {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-11-i-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-12 {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-12-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-12-Char {
  font-family: 'CharmonmanRegular';
  font-size: 22pt;
  line-height: 120%;
  text-align: left;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-12-Num {
  font-family: 'CharmonmanRegular';
  font-size: 22pt;
  text-align: left;
  line-height: 120%;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-12-Vowel {
  font-family: 'CharmonmanRegular';
  line-height: 150%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-12-Sp-Char {
  font-family: 'CharmonmanRegular';
  line-height: 150%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-12-Symbol {
  font-family: 'CharmonmanRegular';
  line-height: 130%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-12-Ac-Char {
  font-family: 'CharmonmanRegular';
  line-height: 130%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-12-Text1 {
  font-family: 'CharmonmanRegular';
  line-height: 125%;
  font-size: 12pt;
  text-align: left;
}

#block-12-Text2 {
  font-family: 'CharmonmanRegular';
  line-height: 125%;
  font-size: 18pt;
  text-align: left;
}

#block-12-Text3 {
  font-family: 'CharmonmanRegular';
  line-height: 150%;
  font-size: 24pt;
  text-align: left;
}

#block-12-i {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-12-i-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-13 {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-13-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-13-i {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-13-i-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-14 {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-14-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-14-Char {
  font-family: 'CharmonmanRegular';
  font-size: 22pt;
  line-height: 120%;
  text-align: left;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-14-Num {
  font-family: 'CharmonmanRegular';
  font-size: 22pt;
  text-align: left;
  line-height: 120%;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-14-Vowel {
  font-family: 'CharmonmanRegular';
  line-height: 150%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-14-Sp-Char {
  font-family: 'CharmonmanRegular';
  line-height: 150%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-14-Symbol {
  font-family: 'CharmonmanRegular';
  line-height: 130%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-14-Ac-Char {
  font-family: 'CharmonmanRegular';
  line-height: 130%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-14-Text1 {
  font-family: 'CharmonmanRegular';
  line-height: 125%;
  font-size: 12pt;
  text-align: left;
}

#block-14-Text2 {
  font-family: 'CharmonmanRegular';
  line-height: 125%;
  font-size: 18pt;
  text-align: left;
}

#block-14-Text3 {
  font-family: 'CharmonmanRegular';
  line-height: 150%;
  font-size: 24pt;
  text-align: left;
}

#block-14-i {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-14-i-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}


#block-15 {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-15-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-15-Char {
  font-family: 'CharmonmanBold';
  font-size: 22pt;
  line-height: 120%;
  text-align: left;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-15-Num {
  font-family: 'CharmonmanBold';
  font-size: 22pt;
  text-align: left;
  line-height: 120%;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-15-Vowel {
  font-family: 'CharmonmanBold';
  line-height: 150%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-15-Sp-Char {
  font-family: 'CharmonmanBold';
  line-height: 150%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-15-Symbol {
  font-family: 'CharmonmanBold';
  line-height: 130%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-15-Ac-Char {
  font-family: 'CharmonmanBold';
  line-height: 130%;
  font-size: 22pt;
  text-align: left;
  padding-bottom: 15px;
}

#block-15-Text1 {
  font-family: 'CharmonmanBold';
  line-height: 125%;
  font-size: 12pt;
  text-align: left;
}

#block-15-Text2 {
  font-family: 'CharmonmanBold';
  line-height: 125%;
  font-size: 18pt;
  text-align: left;
}

#block-15-Text3 {
  font-family: 'CharmonmanBold';
  line-height: 150%;
  font-size: 24pt;
  text-align: left;
}

#block-15-i {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-15-i-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-16 {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-16-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}
#block-16-i {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-16-i-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-17 {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-17-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#block-17-i {
  color: #7A2A00;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: left;
}

#block-17-i-Title {
  font-family: 'Charmonmanbold';
  font-size: 12pt;
  text-align: left;
  letter-spacing: 0px;
}

#Line1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #7A2A00;
}

#Line2 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #7A2A00;
}
